<div class="base-view-root">
  <button class='my-button' (click)='toggle1()'>Toggle Display</button>

  <!-- ALL-IN-ONE  FADE  WRAPPER -->
  <fade-wrapper [shouldDisplay]='display1'
                [keepInDom]='true'
                class="content-renderer">
    <content-renderer [description]='description1'>
    </content-renderer>
  </fade-wrapper>

  <div class="spacer"></div>

  <button class='my-button' (click)='toggle2()'>Toggle Display</button>

  <!-- DIRECTIVE-BASED  FADE  WRAPPER -->
  <fade-wrapper-2 [fadeShouldDisplay]='display2' 
                  class="content-renderer"> 
    <content-renderer [description]='description2'>
    </content-renderer>
  </fade-wrapper-2>

  <div class="spacer"></div>

  <button class='my-button' (click)='toggle3()'>Toggle Display</button> 

  <!-- DIRECTIVE-BASED  FADE  WRAPPER -->
  <fade-wrapper-2 [fadeShouldDisplay]='display3' 
                  [keepInDom]='true'
                  class="content-renderer"> 
    <content-renderer [description]='description3'>
    </content-renderer>
  </fade-wrapper-2>


</div>