.base-view-root {
  height: 100%;
  background-color: beige;
  padding: 20px;

  .my-button {
    margin: 20px;
  }

  .content-renderer {
    height: 25%;
    width: 80%;
    max-width: 800px;
  }

  .spacer {
    height: 10px;
    width: 100%;
  }
}