@import '../../../assets/styles/palette.scss';
@import '../../../assets/styles/buttons.scss';

.base-view-root {
  width: 80vw;
  margin: auto;

  background-color: $light-cold-1;
  padding: 20px;

  h1 {
    margin-bottom: 40px;
    text-align: center;

    .display-text {
      color: $red;
    }
    .visibility-text {
      color: $mid-warm;
    }
    .vs-text {
      color: $grey;
      font-size: 80%;
    }
  }

  .display-button {
    color: $light-cold-1;
    background-color: $red;
  }
  .visibility-button {
    color: $light-cold-2;
    background-color: $mid-warm;
  }

  .content-wrapper {
    height: 25%;
    width: 80%;
    max-width: 800px;
    margin: 0 auto 20px;
  }
}
