.base-view-root {
  position: relative;
  height: 100%;
  background-color: beige;
  padding: 20px;

  .my-button {
    margin: 20px;
  }

  .content-renderer {
    height: 40%;
    width: 90%;
    position: absolute;
    left: 20px;
    top: 100px;
  }
  .content-renderer-2 {
    @extend .content-renderer;
    top: 500px;
  }
}