<div class="base-view-root">

  <h1>
    <span class="display-text">display:none</span>
    <span class="vs-text"> vs. </span>
    <span class="visibility-text">visibility: hidden</span>
  </h1>

  <button class='my-button display-button' (click)='toggle2()'>Toggle Display</button>

  <!-- DIRECTIVE-BASED  FADE  WRAPPER -->
  <div class="content-wrapper">
    <fade-wrapper-2 [fadeShouldDisplay]='display2'
                    [keepInDom]='false'>
      <content-renderer [description]='description2'>
      </content-renderer>
    </fade-wrapper-2>
  </div>
  <hr>

  <button class='my-button visibility-button' (click)='toggle3()'>Toggle Visibility</button>

  <!-- DIRECTIVE-BASED  FADE  WRAPPER, KEEP IN DOM ON FADE -->

  <div class="content-wrapper">
    <fade-wrapper-2 [fadeShouldDisplay]='display3'
                    [keepInDom]='true'>
      <content-renderer [description]='description3'>
      </content-renderer>
    </fade-wrapper-2>
  </div>
  <hr>

  <button class="my-button"> Dummy Button </button>
</div>
