@import '../../../../assets/styles/palette.scss';

.basic-content-renderer-root {
  border: 1px solid $red;

  max-height: 300px;
  padding: 20px;
  background-color: $grey;
  color: $light-cold-1;

  overflow-y: scroll;


  .description {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
  }
}
