.my-button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  min-width: 100px;
  min-height: 40px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  transition: opacity 0.1s ease-out;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    border-color: $grey;
    background-color: $light-cold-1;
    color: $grey;
  }
}
